# Virtual environment
.venv/

# Environment variables / secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Local data DO NOT commit data folder
data/raw/*
data/structured/*
data/vector_store/*.faiss

# Databases / vector stores
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db